.search {
	background-color: #fff;
	padding: 15px;
	height: 70px;
	display: grid;
	margin: 30px auto;
	grid-template-columns: auto 1fr auto;
	place-content: center;
	column-gap: 10px;
	@media (min-width: 662px) {
		width: 90%;
	}
	input {
		border: transparent;
		height: 30px;
		padding-left: 8px;
		letter-spacing: 2px;
		@media (min-width: 662px) {
			height: 40px;
			font-size: 1.25rem;
			padding-left: 20px;
		}
	}

	.btn-search {
		@media (min-width: 662px) {
			font-size: 1.2rem;
		}
	}
	.btn-icon {
		color: black;
		cursor: default;
		background-color: transparent;
		border: transparent;
		font-size: 20px;
		@media (min-width: 662px) {
			font-size: 1.2rem;
		}
	}
}
.search-msg {
	display: flex;
	//width: 100%;
	justify-content: center;
	margin-top: -15px;

	color: red;
}
